{% extends 'base.html.twig' %}
{% block title %}Liste des annonces!{% endblock %}

{% block body %}

    <div class="ceteg-titre">
        <h1>Bienvenue sur le Forum des Petites Annonces !</h1>
        <div class="categories">
            {% for categorie in categories %}
                <div class="nom-categ">
                    <a href="{{ path('annonces_par_categorie', {'id': categorie.id}) }}">{{ categorie.nom }}</a>
                </div>
            {% endfor %}
        </div>
        <div class="tre"></div>
    </div>

    {# Carrousel des 5 annonces les plus vues #}
    <div class="block-slide-comment">

        <div class="carousel-container">
            <div class="carousel">
                {% for annonce in annonces|sort((a, b) => b.vues <=> a.vues)|slice(0, 5) %}
                    <div class="carousel-item">
                        <a href="{{ path('show_annonce', {'id': annonce.id}) }}">
                            <img src="{{ asset(annonce.photos|first.url) }}" alt="{{ annonce.titre }}">
                        </a>
                        <div class="price-tag">{{ annonce.prix }} €</div>
                    </div>
            {% endfor %}
            </div>
            <button class="carousel-button prev" onclick="moveCarousel(-1)">&#10094;</button>
            <button class="carousel-button next" onclick="moveCarousel(1)">&#10095;</button>
        </div>
    
        {# Les derniers commentaires #}
        <div class="comments-section">
            <h2>Derniers Commentaires</h2>
            <ul>
                {% for commentaire in derniersCommentaires|slice(0, 5) %}
                    <li class="comment-item">
                        <a href="{{ path('show_annonce', {'id': commentaire.annonce.id}) }}">
                            <strong>{{ commentaire.utilisateur.nom }}:</strong> {{ commentaire.contenu }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    

    {# {% for annonce in annonces %}
        <a href="{{ path('show_annonce', {'id': annonce.id})}}">{{ annonce }}</a> <br>
    {% endfor %}   #}
    {{ form_start(RechercheForm, {'attr': {'class': 'form-inline recherche-for'}}) }}
        {{ form_widget(RechercheForm.keyword, {'attr': {'class': 'form-control recherche-annonce', 'placeholder': ' Rechercher une annonce...'}}) }}
        {{ form_widget(RechercheForm.ville, {'attr': {'class': 'form-control ville', 'placeholder': ' Ville...'}}) }}
        {{ form_widget(RechercheForm.minPrix, {'attr': {'class': 'form-control prix-min', 'placeholder': ' Prix min'}}) }}
        {{ form_widget(RechercheForm.maxPrix, {'attr': {'class': 'form-control prix-max', 'placeholder': ' Prix max'}}) }}
        <button class="btn btn-valider recherche-btn" type="submit">Rechercher</button>
    {{ form_end(RechercheForm) }}

    <div class="annonces">
        {% for annonce in annonces %}
            <div class="annonce">
                <div class="photos">
                    {% if annonce.photos|length > 0 %}
                        <img src="{{ asset(annonce.photos[0].url) }}" alt="images d'une annonce">
                    {% else %}
                        <img src="{{ asset('img/defaut.png') }}" alt="image par défaut">
                    {% endif %}
                </div>
                <div class="description">
                    <h2 class="annonce-title">
                        <a href="{{ path('show_annonce', {'id': annonce.id}) }}">{{ annonce.titre }}</a>
                    </h2>

                    <div class="block-general">
                        <div class="block-text block-txt-btn">
                            <p class="annonce-city"><strong>Ville :</strong> {{ annonce.ville }}</p>
                            <p class="annonce-price"><strong>Prix :</strong> {{ annonce.prix }} €</p>
                            <p><strong>Publié : </strong>{{ annonce.dateCreation|date('Y:m:d')}}</p>
                        </div>
                        
                        
    
                        <div class="block-button block-txt-btn">
                            <button class="btn btn-description" onclick="openDescriptionModal('{{ annonce.description|e('js') }}')">
                                <i class="fa fa-info-circle"></i> description
                            </button>
        
                            {% if app.user %}
                                {% if annonce.id in favorisAnnoncesIds %}
                                    <div class="btn-favoris btn-ajoutRetrait">
                                        <a href="{{ path('remove_favori', {'id': annonce.id}) }}">Retirer des favoris</a>
                                    </div>
                                {% else %}
                                    <div class="btn-succes btn-ajoutRetrait">
                                        <a href="{{ path('add_favori', {'id': annonce.id}) }}">Ajouter aux favoris</a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
    
                    </div>
                   
                    <p><i class="fa fa-eye"></i> {{ annonce.vues }} vues</p>
                    
                </div>
                
            </div>
        {% else %}
            <p>Aucune annonce trouvée</p>
        {% endfor %}
    </div>
  
    
    {# Render pagination controls #}
    <div class="pagination">
        {{ knp_pagination_render(annonces) }}
    </div>
{% endblock %}