{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="title">Liste des Signalements</h1>

    <table class="styled-table">
        <thead>
            <tr class="header-table-signalement">
                <th class="id-table-signalement">ID</th>
                <th>Type</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>Annonce</th>
                <th>Utilisateur</th>
            </tr>
        </thead>
        <tbody>
            {% for signalement in signalements %}
                <tr>
                    <td class="id-table-signalement" data-label="ID">{{ signalement.id }}</td>
                    <td data-label="Type">{{ signalement.type }}</td>
                    <td data-label="Contenu">{{ signalement.contenu }}</td>
                    <td data-label="Date">{{ signalement.dateSignalement|date('d-m-Y H:i:s') }}</td>
                    <td data-label="Annonce"><a href="{{ path('show_annonce', {'id': signalement.annonce.id}) }}">{{ signalement.annonce.titre }}</a></td>
                    <td data-label="Auteur">{{ signalement.user.nom }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_annonce') }}" class="back-link">Retour à la liste des annonces</a>
{% endblock %}