{% extends 'base.html.twig' %}

{% block title %}Détail d'une annonce!{% endblock %}

{% block body %}
    <h1>Détail d'une annonce</h1>

    <h2> {{ annonce }}</h2>
    <p>
        Ville : {{ annonce.ville }} <br>
        Prix : {{ annonce.prix }} <br>
        Description : {{ annonce.description }} <br>
        Date création : {{ annonce.dateCreation|date('d.m.Y H:i:s') }} <br>
        <a href="{{ path('edit_annonce', {'id': annonce.id})}}">Modifier</a>
        <h2>Commentaires :</h2>
            {% for commentaire in commentaires %}
                <strong>{{ commentaire.utilisateur.nom }} :</strong> {{ commentaire.contenu }} <br>
                <small>{{ commentaire.dateCreation|date('d-m-Y H:i') }}</small> <br>
                <a href="{{ path('edit_commentaire', {'id': commentaire.id}) }}">Edit</a> <br>
            {% else %}
                Aucun commentaire pour cette annonce.    
            {% endfor %}
        <h2>Ajouter un commentaire :</h2>
        {{ form_start(formCommentaire) }}
            {{ form_row(formCommentaire.contenu) }}
            {# Les champs "annonce" et "utilisateur" ne sont pas nécessaires dans le formulaire car ils sont définis en backend #}
            <button type="submit">Ajouter</button>
        {{ form_end(formCommentaire) }}    
    </p>
{% endblock %}