
{% extends 'base.html.twig' %}

{% block title %}Détail d'une annonce!{% endblock %}

{% block body %}
    <div class="annonce-detail">
        <h1>{{ annonce.titre }}</h1>
        <div class="annonce-info">
            <p>Ville : {{ annonce.ville }}</p>
            <p>Prix : {{ annonce.prix }} €</p>
            <p>Description : {{ annonce.description }}</p>
            <p>Date création : {{ annonce.dateCreation|date('d.m.Y H:i:s') }}</p>
            <p>Publié par : <a href="{{ path('app_user', {'id': annonce.publier.id}) }}">{{ annonce.publier.nom }}</a></p>
        </div>
        {% if annonce.photos|length > 0 %}
        <div class="photos">
            {% for photo in annonce.photos %}
                <img src="{{ asset(photo.url) }}" alt="Image">
            {% endfor %}
        </div>
        {% endif %}
        <div class="actions">
            {% if annonce.publier.nom == app.user or is_granted('ROLE_ADMIN') %}
                <a href="{{ path('edit_annonce', {'id': annonce.id}) }}">Modifier</a>
                <a href="{{ path('delete_annonce', {'id': annonce.id}) }}">Supprimer</a>
            {% endif %}
            {% if app.user %}
                <a href="{{ path('signaler_annonce', {'id': annonce.id}) }}">Signaler cette annonce</a>
            {% endif %}
        </div>
        <div class="comment-section">
            <h2>Commentaires :</h2>
            {% for commentaire in commentaires %}
                <div class="comment">
                    <strong>{{ commentaire.utilisateur.nom }} :</strong> {{ commentaire.contenu }} <br>
                    <small>{{ commentaire.dateCreation|date('d-m-Y H:i') }}</small> <br>
                    {% if commentaire.utilisateur == app.user or is_granted('ROLE_ADMIN') %}
                        <div class="comment-actions">
                            <a href="{{ path('edit_commentaire', {'id': commentaire.id}) }}">Edit</a>
                            <a href="{{ path('delete_commentaire', {'id': commentaire.id}) }}">supprimer</a>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <p>Aucun commentaire pour cette annonce.</p>
            {% endfor %}
            {% if app.user %}
            <h2>Ajouter une commentaire :</h2>
            {{ form_start(formCommentaire) }}
                {{ form_row(formCommentaire.contenu) }}
                <button type="submit">Ajouter</button>
            {{ form_end(formCommentaire) }}
            {% else %}
                <div>
                    <p>Veuillez <a href="{{ path('app_login') }}">vous connecter</a> pour ajouter un commentaire !</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}