{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    {# Pour afficher les messages d'erreur/succès #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Liste des catégories</h1>
    <table class="styled-table">
        <thead>
            <tr class="header-table-categorie">
                <th>Nom</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for categorie in categories %}
                <tr class="table-categorie">
                    <td data-label="Catégorie">{{ categorie.nom }}</td> 
                    {% if is_granted('ROLE_ADMIN') %}   
                    <td data-label="Action">
                            <a href="{{ path('admin_categorie_edit', {'id': categorie.id}) }}" class="btn btn-warning">Modifier</a>    
                    </td>
                    <td data-label="Action">
                        <form action="{{ path('admin_categorie_delete', {'id': categorie.id}) }}" method="post" class="d-inline">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}  
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_categorie_new') }}" class="btn btn-primary btn-category-create">Créer une nouvelle catégorie</a>
    {% else %}
        <p>Vous n'avez pas les droits pour accéder à cette page.</p>
    {% endif %}
{% endblock %}