{% extends 'base.html.twig' %}

{% block body %}
    <div class="received-messages">
        <h1>Messages reçus</h1>

        <ul class="message-list">
            {% for message in messages %}
                <li class = "message-item">
                    <strong class="message-sender">{{ message.expediteur.nom }}</strong>
                    {% if not message.lu %}
                        <span class="badge bg-warning">Nouveau</span>
                    {% endif %}
                    <p class="message-content">{{ message.contenu }}</p>
                    <small class="message-date">{{ message.dateEnvoi|date('d/m/Y H:i') }}</small>
                    <a href="{{ path('read_messages', {id: message.id}) }}" class="btn btn-success mark-read">Marquer comme lu</a>
                </li>
            {% endfor %}
        </ul>
        <li class = "msg-sent"><a href="{{ path('app_message_sent') }}" class="btn btn-primary">Messages envoyés</a></li>
    </div>
    
{% endblock %}