{% extends 'base.html.twig' %}

{% block body %}
    <h1>Messages reçus</h1>

    <ul>
        {% for message in messages %}
            <li>
                <strong>{{ message.expediteur.nom }}</strong>
                {% if not message.lu %}
                    <span class="badge bg-warning">Nouveau</span>
                {% endif %}
                <p>{{ message.contenu }}</p>
                <small>{{ message.dateEnvoi|date('d/m/Y H:i') }}</small>
                <a href="{{ path('read_messages', {id: message.id}) }}" class="btn btn-sm btn-success">Marquer comme lu</a>
            </li>
        {% endfor %}
    </ul>
    <li><a href="{{ path('app_message_sent') }}">Messages envoyés</a></li>
{% endblock %}