<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        {% endblock %}

    </head>
    <body>
        <nav>
            <ul>
                <li><h2>poisk</h2><img src="{{ asset('img/icon _globe_.png') }}" alt="Une image logo de site"></li>
                <li><a href="{{ path('new_annonce') }}">Déposer une annonce</a></li>
                <li><a href="{{ path('received_messages') }}">Messages</a></li>
                <li><a href="{{ path('app_annonce') }}"> Mes annonces</a></li>
                {% if  app.user %}
                    <a href="{{ path('app_user', {'id': app.user.id}) }}">
                        <li class="user">{{ app.user.nom }}</li>
                    </a>
                {% endif %}
                {% if app.user %}
                    <li><a href="{{ path('app_logout') }}"> Se déconnecter</a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}"> Se connecter</a></li> 
                    <li><a href="{{ path('app_register') }}"> S'enregister</a></li> 
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="">Panneau d'admin</a>
                {% endif %}
            </ul>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}
                <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    </body>
</html>
