{% extends 'base.html.twig' %}

{% block title %}Informations de l'utilisateur!{% endblock %}

{% block body %}
    <div class="user-info-container">
        <h1>Informations de l'utilisateur</h1>

        <div class="user-details">
            <p><strong>Nom : </strong>{{ user.nom }} {% if is_granted('ROLE_ADMIN') %}{% endif %}</p>
            <p><strong>Email : </strong>{{ user.email }}</p>
                {% if app.user %}
                    <a href="{{ path('new_message', {'id': user.id }) }}" class="btn btn-primary">Message</a>
                {% else %}
                <div class="login-p">
                    <p>Veuillez <a href="{{ path('app_login') }}">vous connecter</a> pour envoyer une message !</p>
                </div>
                {% endif %}
                
                <p>Ranking : {{ averageRating|number_format(1) }}</p>
        
                <a href="{{ path('user_rate', {'id': user.id }) }}" class="btn btn-secondary">Evaluation</a>
                <a href="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-danger">Supprimer mon compte</a>
        </div>
        
    </div>
    
{% endblock %}



