{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Utilisateurs</h1>

    <table class="user-table">
        <thead>
            <tr class="header-tableau-users">
                <th>ID</th>
                <th>Email</th>
                <th>Nom</th>
                <th>Bloqué</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td data-label="ID">{{ user.id }}</td>
                    <td data-label="email">{{ user.email }}</td>
                    <td data-label="nom">{{ user.nom }}</td>
                    <td data-label="Bloqué">{{ user.isBlocked ? 'Oui' : 'Non' }}</td>
                    <td data-label="Actions">
                        {% if user.isBlocked %}
                            <a href="{{ path('user_unblock', {'id': user.id}) }}" class="btn btn-unblock">Débloquer</a>
                        {% else %}
                            <a href="{{ path('user_block', {'id': user.id}) }}" class="btn btn-block">Bloquer</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_annonce') }}" class="btn btn-back">Retour à l'accueil</a>
{% endblock %}