{# templates/user/rate.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Évaluer utilisateur!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .stars {
            cursor: pointer;
        }
        .star {
            font-size: 2em;
            color: gray;
            
        }
        .star.selected {
            color: gold; 

        }
    </style>
{% endblock %}

{% block body %}
    <h1>Évaluer {{ user.nom }}</h1>
    {{ form_start(form) }}
        <div class="stars">
            {% for i in 1..5 %}
                <i class="fa fa-star star" data-value="{{ i }}"></i>
            {% endfor %}
        </div>
        {{ form_widget(form.rating) }}
        <button type="submit" class="btn">Soumettre</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const stars = document.querySelectorAll('.star');
            const ratingValue = document.getElementById('rating_rating');

            stars.forEach(star => {
                star.addEventListener('click', function() {
                    const value = this.getAttribute('data-value');
                    ratingValue.value = value;
                    stars.forEach(s => s.classList.remove('selected'));
                    for (let i = 0; i < value; i++) {
                        stars[i].classList.add('selected');
                    }
                });
            });
        });
    </script>
{% endblock %}


